section.comments {
  max-width: 80%;
  margin: 0 auto;
}

.comment-list {
  @extend .list-unstyled;

  margin-top: 2.5rem;
}

.comment-list ol {
  list-style: none;
}

.comment-form p {
  @extend .form-group;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}

.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;
}

#respond {
  margin-top: 4.5rem;
}

.comment-content {
  padding: 1.5rem;
}

.comment-metadata {
  font-size: 13px;
}

.comment-author b {
  font-size: 18px;
}

li.comment {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: solid #eee 2px;
}
