/* stylelint-disable no-descending-specificity */
.featured-products {
  justify-content: center;
  padding: 0 0 14rem 0;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;

  &::before {
    content: "...........";
    letter-spacing: 6px;
    font-size: 16px;
    color: $highlight;
    overflow: hidden;
    transform: rotate(-90deg);
    display: flex;
    align-self: center;
    margin-top: -4rem;
    margin-bottom: 3.5rem;

    @include media-breakpoint-down(md) {
      content: ".......";
      margin-top: -5rem;
      margin-bottom: 2.5rem;
    }
  }

  @include media-breakpoint-down(xs) {
    margin-top: 21rem;
  }

  .row {
    margin-bottom: 3rem;

    @include media-breakpoint-down(xs) {
      margin-bottom: 2rem;
    }
  }

  .feature-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 3.375rem;
    font-weight: 800;
    line-height: 3.625rem;
    text-align: center;
    margin-bottom: 1.5rem;

    @include media-breakpoint-down(sm) {
      font-size: 2.125rem;
      line-height: 2.15rem;
      margin-bottom: 1rem;
      font-weight: 500;
    }
  }

  p {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 2rem;

    @include media-breakpoint-down(xs) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  .carousel-inner {
    padding-bottom: 2rem;
  }

  //Carousel Navigation
  .carousel-indicators {
    all: unset;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0;
    height: 100%;
    justify-content: flex-end;
    bottom: 4rem;
    position: relative;

    &::before {
      content: ".....................";
      letter-spacing: 5px;
      font-size: 20px;
      color: $highlight;
      margin: 0 2rem 0 0;
      padding: 0 0 2rem 0;
      overflow: hidden;
    }

    li {
      all: unset;
      font-family: $font-family-serif;
      font-size: 21px;
      line-height: 20px;
      cursor: pointer;
      margin: 0 0.5rem 1.5rem 0;
      padding: 0 1.5rem 0 0;
      background: no-repeat center right;

      @include slowfade;

      &:hover {
        color: $highlight;

        @include slowfade;
      }

      &.active {
        color: $highlight;
        background: url("../../images/product-arrow.svg") no-repeat center right;

        @include slowfade;
      }

      @include media-breakpoint-down(xs) {
        font-size: 18px;
        line-height: 17px;
      }
    }

    &.right {
      text-align: left;

      &::before {
        margin: 0 0 0 2rem;
      }

      li {
        padding: 0 0 0 1.5rem;
        margin: 0 0 1.5rem 0.5rem;
        background: no-repeat center left;

        &.active::before {
          content: "";
          width: 30px;
          height: 16px;
          display: inline-block;
          background: url("../../images/product-arrow.svg") no-repeat center left;
          transform: scaleX(-1);
          position: absolute;
          left: -5px;
        }
      }
    }
  }

  //Carousel Content
  .carousel-item {
    height: 490px;
    padding: 0 2rem 2rem 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 20px - 2rem);
      height: calc(100% - 20px - 2rem);
      margin: 10px;
      border: solid 2px #fff;
      z-index: 1;

      @include media-breakpoint-down(sm) {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
      }
    }

    &.left {
      padding: 0 0 2rem 2rem;

      &::before {
        left: unset;
        right: 0;
      }

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }

    img.featured-product {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: relative;
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  //Caption
  .carousel-caption {
    background: $highlight;
    width: 35%;
    padding: 1.5rem 2rem;
    left: unset;
    right: 0;
    bottom: 0;
    text-align: left;

    h4 {
      font-size: 28px;
      font-weight: 800;

      @include media-breakpoint-down(sm) {
        text-align: center;
        margin-bottom: 0;
      }
    }

    p {
      font-size: 15px;
      line-height: 19px;
      text-align: left;
      margin-bottom: 0.5rem;
      color: #fff;

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      &.left {
        left: 0;
        right: unset;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    .meta {
      overflow: hidden;

      &::before {
        content: "............................................";
        letter-spacing: 6px;
        font-size: 20px;
        color: #fff;
        overflow: hidden;
        margin-top: 1rem;
        margin-bottom: 1.25rem;
      }

      a.product-link {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
      }

      .quick-view-button span {
        margin: 0;
        height: auto;
        width: auto;
        background: none;
        border-radius: 0;
        transform: unset;

        &::before,
        &::after {
          display: none;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      width: 80%;
      margin: 0 auto;
      padding: 1rem;
      position: relative;
      top: -7rem;
      left: unset;
      right: unset;
    }

    &.left {
      right: unset;
      left: 0;
    }
  }
}

.featured-categories {
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    content: "...........";
    letter-spacing: 6px;
    font-size: 16px;
    color: $highlight;
    overflow: hidden;
    transform: rotate(-90deg);
    display: flex;
    align-self: center;
    margin-top: 6rem;
    margin-bottom: 3.5rem;
  }

  ul.nav {
    margin: 0 auto;
    gap: 1.5rem;
    border: none;

    @include media-breakpoint-down(sm) {
      margin: 0 5%;
      padding: 0.5rem 0;
      gap: 0.5rem;
      width: 90%;
      overflow-x: scroll;
      flex-wrap: nowrap;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE/Edge */
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        display: none; /* WebKit */
      }

      &::before {
        content: "";
        width: 80px;
        height: 61px;
        background: linear-gradient(270deg, #fff 17%, rgb(255, 255, 255, 0) 100%);
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    li {
      a {
        color: $highlight;
        font-size: 1.1rem;
        font-weight: 800;
        display: inline-flex;
        white-space: nowrap;
        line-height: 1.5rem;
        text-decoration: none;
        padding: 0.75rem 1.75rem;
        border-radius: 3rem;
        border: 3px solid $highlight;
        transition: all 0.45s ease-in-out;

        &:hover {
          border: 3px solid #8dd3b6;
          background: #8dd3b6;
          transition: all 0.45s ease-in-out;
          color: #fff;
        }

        &.active {
          color: #fff;
          background: $highlight;
          border: 3px solid $highlight;
          transition: all 0.3s ease-in-out;
        }
      }

      @include media-breakpoint-down(md) {
        a {
          font-size: 1rem;
          list-style: 1;
          padding: 0.5rem 1rem 0.5rem 1rem;
        }
      }
    }
  }

  .tab-content {
    margin: 4rem 10% 0 10%;
    display: flex;

    .tab-pane.active {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .button {
        display: inline-flex;
        margin: 0 auto;
        font-weight: 600;
        padding: 1rem 2.5rem;
      }
    }

    @include media-breakpoint-down(md) {
      margin: 3rem;
    }

    @include media-breakpoint-down(sm) {
      margin: 2rem 1rem 0 1rem;
    }
  }
}

.featured-product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3.5rem;

  @include media-breakpoint-down(md) {
    gap: 2rem;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 0.5rem;
    padding: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 52px -22px rgba(0, 0, 0, 0.2);

    @include slowfade;

    .card-body {
      display: flex;
      flex-direction: column;
    }

    a,
    a.quick-view-button {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      text-decoration: none;
      opacity: 1;
      background: none;
      border-radius: 0.5rem;
      cursor: pointer;
    }

    img {
      height: 120px;
      width: 160px;
      object-fit: cover;
      // margin-right: 1.375rem;
      border-radius: 0.5rem 0 0 0.5rem;
    }

    h3 {
      font-family: $font-family-serif;
      font-size: 1.5rem;
      line-height: 1.375rem;
      margin: auto auto 0 0;
    }

    h4.product-category {
      margin: 0 auto auto 0;
      color: $highlight;
      font-size: 0.9375rem;
      position: static;
      border: none;
      padding: 0;
      width: auto;
      display: inline;
      justify-content: initial;
      font-family: $font-family-sans-serif;
    }

    &::after {
      content: "\f105";
      font-family: "Font Awesome 7 Free", sans-serif;
      font-weight: 900;
      font-style: normal;
      line-height: 1;
      font-size: 16px;
      color: $highlight;
      margin-right: 1.25rem;
    }

    &:hover {
      box-shadow: 0 0 52px -12px rgba(0, 0, 0, 0.2);

      @include slowfade;
    }

    @include media-breakpoint-down(md) {
      gap: 2rem;

      img {
        width: 130px;
        min-height: 100px;
        height: auto;
      }

      h3 {
        font-size: 1.375rem;
      }
    }

    @include media-breakpoint-down(sm) {
      img {
        margin-right: 0;
        width: 100px;
        min-height: 90px;
        height: auto;
      }

      h3 {
        font-size: 1.25rem;
      }
    }
  }
}

/* stylelint-enable no-descending-specificity */
