/* stylelint-disable no-descending-specificity */
.woocommerce {
  // Sidebar Filter
  .wpf_submenu li {
    position: relative;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      border: solid 2px $highlight;
      border-radius: 100%;
      display: flex;
      position: absolute;
      top: 7px;
    }

    label {
      text-indent: 1.25rem;
      position: relative;

      &.checked::before {
        content: "";
        width: 8px;
        height: 8px;
        display: flex;
        position: absolute;
        left: 4px;
        top: 6px;
        background: $highlight;
        border-radius: 100%;
      }
    }

    input[type=radio] {
      visibility: hidden;
      position: absolute;

      &:checked::before {
        visibility: visible;
        content: "";
        width: 8px;
        height: 8px;
        display: flex;
        position: absolute;
        left: 4px;
        top: 8px;
        background: $highlight;
        border-radius: 100%;

        @include media-breakpoint-down(xs) {
          left: 2px;
          top: 6px;
        }
      }
    }
  }

  .wpf_item {
    &::after {
      content: ".............................................";
      letter-spacing: 4px;
      line-height: 3px;
      font-size: 18px;
      color: $highlight;
      margin: 1.5rem auto 0 auto;
      overflow: hidden;
    }

    overflow: hidden;

    li {
      margin-right: 0 !important;
    }
  }

  .wpf_item_wpf_cat label.wpf_item_name {
    display: none; //hide title from only category section
  }

  .wpf_item_count {
    color: $highlight;
    font-family: $font-family-serif;
    font-size: 15px;
    background: none;
    padding: 0.25rem 0 0 0;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  .wpf_item_name {
    font-family: $font-family-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 0.5rem 0;
    border: none;
  }

  ul.wpf_hierachy {
    display: flex;
    flex-direction: column;

    input {
      display: none;
    }

    label {
      font-family: $font-family-serif;
      font-size: 22px;
      font-weight: bold;
      cursor: default;

      &::after {
        content: ":";
      }
    }

    .wpf_item_count {
      display: none;
    }

    li {
      border-bottom: solid 2px #ebe9e0;
      padding-bottom: 25px;
      margin-bottom: 25px;

      &:last-of-type {
        border: none;
        padding-bottom: 0;
        margin-bottom: 1rem;
      }

      ul.wpf_submenu li {
        border: none;
        margin-bottom: 0.55rem;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;

        &:first-child {
          display: unset;
        }
      }
    }
  }

  ul.wpf_submenu,
  ul.wpf_column_vertical {
    border: none;
    display: flex;
    flex-direction: column;
    margin-top: 0;

    input {
      display: inline-flex;
      border: 2px solid $highlight;
      width: 15px;
      height: 15px;
      margin-top: 3px;

      @include media-breakpoint-down(lg) {
        margin-right: 1px;
      }
    }

    input[type="checkbox"]:checked::before {
      content: "";
      width: 7px;
      height: 7px;
      background: $highlight;
      left: 2px;
      top: 2px;
      position: relative;
    }

    label {
      --tt-key: filter-label;
      --tt-max: 275;
      --tt-ease: linear;

      font-family: $font-family-sans-serif;
      font-size: 17px;
      font-weight: normal;
      margin: 0;
      cursor: pointer;

      // @include media-breakpoint-down(lg) {
      //   font-size: 14.5px;
      // }

      &::after {
        content: none;
      }
    }

    @keyframes filter-label {
      60% {
        font-size: 0.8rem;
      }

      100% {
        font-size: 1rem;
      }
    }

    .wpf_item_count {
      display: inline-flex;
    }
  }

  //Filtered results
  .wpf-search-container section div {
    width: 100%;
  }

  ul.products li.product .woocommerce-placeholder {
    border: none;
    width: 38px;
  }

  span.select2-container ul.select2-results__options {
    li:nth-child(2) {
      display: none !important;
    }
  }
}

button.mobile-filter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  background: $highlight;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  z-index: 1000;
  border-radius: 0;
  display: none;

  &.collapsed {
    display: block;

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}

#mobileFilter {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  padding: 2rem;
  z-index: 200;

  button {
    z-index: 1500;
    display: block;
  }
}
/* stylelint-enable no-descending-specificity */
