/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

form select {
  font-size: 16px !important;
}

// Datepicker
.ui-button.ui-state-active:hover,
.ui-button:active,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active {
  background: $highlight;
  border: 1px solid darken($color: $highlight, $amount: 10);
}

//timeslot picker
.custom-timeslot select,
.custom-timeslot_pickup select {
  margin: 0.5rem 0 0 1.5rem !important;
}

.woocommerce-input-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.woocommerce-input-wrapper {
  position: relative;
}

.woocommerce-input-wrapper::before {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  content: "";
  margin-top: -5px;
  width: 8px;
  height: 8px;
  rotate: 135deg;
  border-color: rgb(56, 56, 56);
  border-style: solid;
  border-width: 2px 2px 0 0;
  pointer-events: none;
}

// Custom radio buttons
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;

  /* Remove most all native input styles */
  appearance: none;

  /* For iOS < 15 */
  background-color: var(--form-background);

  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: $highlight;
  width: 0.85rem;
  height: 0.85rem;
  border: 0.15rem solid $highlight;
  border-radius: 50%;
  // transform: translateY(-0.075rem);
  display: inline-flex;
  place-content: center;
  align-items: center;
  padding: 0 !important;
}

input[type="radio"]::before {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem $highlight;

  /* Windows High Contrast Mode */
  background-color: canvastext;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid $cream;
  outline-offset: max(2px, 0.15em);
}
