/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

form select {
  font-size: 16px !important;
}

// Datepicker
.ui-button.ui-state-active:hover,
.ui-button:active,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
td.ui-datepicker-current-day a {
  background: $highlight !important;
  border: 1px solid darken($color: $highlight, $amount: 10) !important;
  color: #fff !important;
}
