.social {
  .zoom-instagram-widget {
    margin-right: 10px;
  }

  .cta {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 3rem;
    margin-top: 1rem;
    margin-bottom: 0.65rem;
    background: rgba($color: $charcoal, $alpha: 0.9);

    @include media-breakpoint-up(xl) {
      padding: 4rem 3rem;
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      align-items: center;
      margin-top: 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      background: url("../images/social-bg.jpg") no-repeat center center;
      background-size: cover;
    }

    h2 {
      font-weight: 600;
      font-size: 58px;
      line-height: 47px;
      margin: 0 1rem 0 0;
      color: #fff;

      @include media-breakpoint-up(lg) {
        font-size: 78px;
        line-height: 67px;
      }

      @include media-breakpoint-down(lg) {
        font-size: 48px;
        line-height: 44px;
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
        margin: 0 3rem;
      }
    }

    h5 {
      font-family: $font-family-sans-serif;
      border-bottom: solid 3px $highlight;
      padding-bottom: 0.5rem;
      font-weight: 800;
      font-size: 16px;
      color: #fff;
      margin: 0 auto 0.5rem 0;
    }

    .btn.full {
      width: 240px;
      background: $highlight;
      color: #fff;
      margin: 0.5rem 0;

      @include media-breakpoint-down(sm) {
        width: 75%;
        margin: 1.25rem 0;
      }

      &:hover {
        background: none;
        color: $highlight;
      }
    }

    .icon {
      width: 40px;
      height: 40px;
      margin: 0 1.25rem 0 0;
      border-radius: 100%;
      display: inline-flex;
      position: relative;
      background: #424242;
      justify-content: center;
      align-items: center;

      svg {
        width: 100%;
        height: 23px;
        fill: $highlight;
      }
    }
  }
}
