.accordion {
  h2 {
    padding-bottom: 1rem;
    padding-top: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
}

.faq-categories {
  padding: 4rem;

  div a {
    text-align: center;
    justify-content: center;
    display: flex;
    border: solid 1px $highlight;
    padding: 3rem 1rem;
  }
}
