.nav-primary {
  ul {
    justify-content: space-around;
    height: 106px;

    li {
      display: flex;
      align-content: center;
      width: 19%;
      justify-content: center;
    }

    li a {
      font-size: 19px;
      color: #343534;
      padding-top: 2rem;
    }

    li.menu-bon-ton-bakery-patisserie {
      width: 23%;

      a {
        display: flex;
        width: 311px;
        height: 99px;
        text-indent: -999999px;
        background: url(../images/BonTon-Logo.png) no-repeat center center;
        background-size: contain;
        border: solid 10px #fff;
      }
    }
  }
}
// .banner .nav li {
//   @extend .nav-item;
// }
// .banner .nav a {
//   @extend .nav-link;
// }

.hero {
  background-size: cover;
  background-position: center center;
}

.post-type-archive header.hero {
  height: 450px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 30px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    border: solid 2px #fff;
  }

  h2 {
    font-size: 63px;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    line-height: 72px;

    &::after {
      content: "........................";
      letter-spacing: 6px;
      font-size: 30px;
      color: $highlight;
      margin: 0 auto;
    }
  }
}
