body.is-active {
  position: fixed;
}

.nav-primary {
  margin-top: 2rem;

  @include media-breakpoint-down(lg) {
    margin-top: 1rem;
  }

  ul {
    justify-content: space-around;
    position: relative;
    z-index: 2;
    margin-bottom: -1.5rem;

    @include media-breakpoint-down(lg) {
      margin-bottom: -1rem;
    }

    li {
      display: flex;
      align-content: center;
      width: 18%;
      justify-content: center;

      @include media-breakpoint-down(lg) {
        width: 11%;
      }
    }

    li a {
      font-size: 19px;
      color: #343534;
      padding-top: 2rem;

      @include media-breakpoint-down(lg) {
        padding-top: 1.5rem;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
      }

      &:hover {
        color: $highlight;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
      }
    }

    li.menu-bon-ton-bakery-patisserie {
      width: 311px;
      border: solid 10px #fff;
      // background: #343534;

      @include media-breakpoint-down(lg) {
        width: 260px;
        border: solid 6px #fff;
      }

      a {
        display: flex;
        width: 311px;
        height: 93px;
        text-indent: -999999px;
        background: url(../images/BonTon-Logo.png) no-repeat center center;
        background-size: cover;

        @include media-breakpoint-down(lg) {
          width: 204;
          height: 78px;
        }
      }
    }
  }
}

// mobile nav
.mobile-banner {
  display: flex;
  position: relative;

  .logo {
    display: flex;
    width: 240px;
    height: 88px;
    text-indent: -999999px;
    background: url(../images/BonTon-Logo.png) no-repeat center center $charcoal;
    background-size: cover;
    margin: 1rem auto -1rem auto;
    border: solid #fff 7px;
    position: relative;
    z-index: 2;
  }

  button {
    position: fixed;
    right: 0.5rem;
    top: 1.5rem;
    z-index: 10;

    &:focus {
      outline: none;
    }
  }

  .navbar-collapse {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: $cream;
    z-index: 9;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      margin: 10px;
      border: solid 4px #fff;
    }

    nav {
      display: flex;
      height: 100%;
      align-items: center;
    }

    .nav-mobile {
      ul,
      li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 20;
      }

      a {
        font-family: $font-family-serif;
        font-size: 38px;
        line-height: 36px;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
      }

      li.util a {
        font-family: $font-family-sans-serif;
        color: $charcoal;
        font-size: 17px;
        font-weight: 600;
        padding: 0.5rem 0;
      }
    }
  }
}

// .banner .nav li {
//   @extend .nav-item;
// }
// .banner .nav a {
//   @extend .nav-link;
// }

.hero {
  background-size: cover;
  background-position: center center;
}

.post-type-archive header.hero {
  height: 450px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 30px;

  @include media-breakpoint-down(lg) {
    margin: 0 2%;
    height: 275px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    border: solid 2px #fff;

    @include media-breakpoint-down(lg) {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      margin: 4px;
      border: solid 2px #fff;
    }
  }

  h2 {
    font-size: 63px;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    line-height: 72px;

    @include media-breakpoint-down(lg) {
      font-size: 48px;
      line-height: 34px;
    }

    &::after {
      content: "........................";
      letter-spacing: 6px;
      font-size: 30px;
      color: $highlight;
      margin: 0 auto;
    }
  }
}
