.home-page {
  // .container-fluid {
  //   padding: 0;
  // }

  .hero-slider {
    div.slider {
      height: 880px;
      width: 100%;
      overflow: hidden;
      margin-left: -3rem;

      @include media-breakpoint-down(lg) {
        height: 780px;
      }

      @include media-breakpoint-down(md) {
        height: 540px;
      }

      @include media-breakpoint-down(xs) {
        height: 380px;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      @include media-breakpoint-down(xs) {
        margin: 0;

        img {
          float: none;
          margin: 0;
        }
      }

      .carousel-inner,
      .carousel,
      .carousel-item {
        height: 100%;
      }
    }

    .page-header {
      background: $cream;
      padding: 1.25rem;
      margin: 13rem 0 0 -8rem;
      max-width: calc(100% + 5rem);
      position: relative;
      z-index: 2;

      h1.hero-headline {
        font-size: 6.5rem;
        font-weight: 900;
        line-height: 6rem;
        margin: 2rem;

        --tt-key: hero-headline;
        --tt-max: 1200;
      }

      @keyframes hero-headline {
        75% {
          font-size: 4rem;
          line-height: 3.5rem;
          margin: 0.75rem;
        }

        100% {
          font-size: 6.5rem;
          line-height: 6rem;
          margin: 2rem;
        }
      }

      @include media-breakpoint-down(lg) {
        margin: 10rem 0 0 -8rem;
      }

      @include media-breakpoint-down(md) {
        margin: 6rem 0 0 -8rem;
      }

      @include media-breakpoint-down(xs) {
        margin: -7rem auto 0 auto;
        width: 80%;
        padding: 0.5rem;
        z-index: 10;

        h1.hero-headline {
          font-size: 1.75rem;
          line-height: 1.75rem;
          margin: 0;
          text-align: center;
        }
      }
    }

    h3 {
      font-family: $font-family-sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 35px;
      margin: 2.5rem 0 0 0;
      width: 65%;

      @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height: 30px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 25px;
      }

      @include media-breakpoint-down(xs) {
        width: 60%;
        margin: 3rem auto 0 auto;
        text-align: center;
        font-size: 22px;
        line-height: 32px;
      }
    }
  }

  .container-fluid.videos {
    background: $cream;
    margin: 0 -15px 0 -15px;
    width: calc(100% + 30px);
    padding-bottom: 1px;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      margin: 0 -15px 140px -15px;
    }

    &::before {
      content: "...............";
      letter-spacing: 4px;
      font-size: 16px;
      color: $highlight;
      overflow: hidden;
      transform: rotate(-90deg);
      display: flex;
      align-self: center;
      margin-top: -20rem;
      justify-content: center;
    }

    .btn {
      background: none;
      display: flex;
      margin: 3rem auto 0 auto;
      width: 250px;
      justify-content: center;

      &:hover {
        background: $highlight;
      }
    }

    img.illustration {
      margin: 3rem auto 1rem auto;
      padding-top: 2rem;
      display: block;
      max-width: 80%;
      width: 774px;
      height: auto;
    }

    h2 {
      text-align: center;
      font-size: 62px;
      line-height: 60px;
      font-weight: bold;
      margin-bottom: 2.5rem;

      @include media-breakpoint-down(sm) {
        font-size: 44px;
        line-height: 46px;
      }
    }

    p {
      font-size: 18px;
      line-height: 24px;
      text-align: center;

      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }

    .thumbs {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    .thumb {
      margin: 1rem 0;

      a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        flex-direction: column;
        background: #fff;

        @include slowfade;

        img {
          object-fit: cover;
          width: 100%;
          height: 250px;

          @include slowfade;
        }

        div {
          width: 80%;
          margin: -1.5rem auto 0 auto;
          background: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 2;

          h3 {
            color: $charcoal;
            font-size: 31px;
            margin: 1.5rem 0 0 0;
            text-align: center;
          }

          span {
            margin: 0 auto 1rem auto;
            text-align: center;
            display: inline-flex;
            color: $highlight;
            font-size: 15px;
            font-weight: 600;

            &::before,
            &::after {
              content: "";
              border-top: solid 2px $highlight;
              display: flex;
              width: 1.25rem;
              height: 1rem;
              height: 0.25rem;
              margin: 0.7rem;
            }
          }
        }

        &:hover {
          text-decoration: none;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

          img {
            opacity: 0.8;

            @include slowfade;
          }
        }
      }
    }
  }

  .container-fluid.social {
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 0;

    ul {
      padding-inline-start: unset !important;
    }
  }
}
