/* stylelint-disable no-descending-specificity */
.home-page {
  // .container-fluid {
  //   padding: 0;
  // }

  .hero-slider {
    div.slider {
      height: 730px;
      width: 100%;
      overflow: hidden;
      position: relative;

      @include media-breakpoint-down(lg) {
        height: 730px;
      }

      @include media-breakpoint-down(md) {
        height: 540px;
      }

      @include media-breakpoint-down(xs) {
        height: 290px;
        overflow: visible;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      @include media-breakpoint-down(xs) {
        margin: 0;

        img {
          float: none;
          margin: 0;
        }
      }

      ol.carousel-indicators {
        bottom: 2rem;

        @include media-breakpoint-down(xs) {
          display: none;
        }
      }

      .carousel-inner,
      .carousel,
      .carousel-item {
        height: 100%;
      }

      .carousel-inner {
        @include media-breakpoint-down(xs) {
          overflow: visible;
        }
      }

      nav {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        width: 2.25rem;

        @include media-breakpoint-down(xs) {
          right: 0;
          left: -0.5rem;
          width: calc(100% + 1rem);
          bottom: 9rem;
        }
      }

      .carousel-control-prev-icon::before,
      .carousel-control-next-icon::before {
        content: "\f104";
        font-family: "Font Awesome 7 Free", sans-serif;
        font-weight: 900;
        font-style: normal;
        line-height: 1;
        font-size: 18px;
        color: #c8c8c8;
      }

      .carousel-control-next-icon::before {
        content: "\f105";
      }

      .carousel-item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          margin: 10px;
          border: solid 2px #fff;
          z-index: 2;

          @include media-breakpoint-down(sm) {
            width: calc(100% - 20px);
            height: calc(100% - 20px);
          }
        }
      }

      .carousel-content {
        h2 {
          font-size: 2.75rem;
          font-weight: 600;
          line-height: 0.95;
          margin-right: 2rem;
        }

        p {
          font-weight: 500;
          line-height: 1.5;
          margin: 0.75rem 1rem 1.25rem 0;
        }

        a {
          font-size: 0.9rem;
          font-weight: 600;
          border-width: 2px;
        }

        background: #fff;
        border-radius: 4px;
        margin: auto 4.5rem auto auto;
        padding: 2rem 2rem 2.5rem 1.5rem;
        z-index: 5;
        position: relative;
        width: 32%;
        min-width: 460px;

        @include media-breakpoint-down(xs) {
          width: 86%;
          min-width: 86%;
          height: 18rem;
          margin: 0 auto 1rem auto;
          padding: 2rem;
          text-align: center;
          justify-content: center;
          box-shadow: 0 17px 36px -36px rgba(0, 0, 0, 0.5);
          display: flex;
          flex-direction: column;
          position: relative;
          top: 78%;

          h2 {
            font-size: 2rem;
            text-align: center;
            margin: 0;
          }

          p {
            margin: 0.7rem auto 1rem auto;
          }

          a {
            margin: 0 auto;
          }
        }
      }
    }

    h3 {
      font-family: $font-family-sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      margin: 2.5rem 0 0 0;
      width: 70%;

      @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height: 30px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 25px;
      }

      @include media-breakpoint-down(xs) {
        width: 60%;
        margin: 3rem auto 0 auto;
        text-align: center;
        font-size: 22px;
        line-height: 32px;
      }
    }
  }

  .container-fluid.videos {
    background: $cream;
    margin: 0 -15px 0 -15px;
    width: calc(100% + 30px);
    padding-bottom: 1px;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      margin: 0 -15px 140px -15px;
    }

    &::before {
      content: "...............";
      letter-spacing: 4px;
      font-size: 16px;
      color: $highlight;
      overflow: hidden;
      transform: rotate(-90deg);
      display: flex;
      align-self: center;
      margin-top: -20rem;
      justify-content: center;
    }

    .btn {
      background: none;
      display: flex;
      margin: 3rem auto 0 auto;
      width: 250px;
      justify-content: center;

      &:hover {
        background: $highlight;
      }
    }

    img.illustration {
      margin: 3rem auto 1rem auto;
      padding-top: 2rem;
      display: block;
      max-width: 80%;
      width: 774px;
      height: auto;
      align-self: flex-start;
      justify-self: flex-start;
    }

    h2 {
      text-align: center;
      font-size: 56px;
      line-height: 58px;
      font-weight: bold;
      margin-bottom: 2.5rem;

      @include media-breakpoint-down(sm) {
        font-size: 44px;
        line-height: 46px;
      }
    }

    p {
      font-size: 18px;
      line-height: 24px;
      text-align: center;

      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }

    .thumbs {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    .thumb {
      margin: 1rem 0;

      a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        flex-direction: column;
        background: #fff;

        @include slowfade;

        img {
          object-fit: cover;
          width: 100%;
          height: 250px;

          @include slowfade;
        }

        div {
          width: 80%;
          margin: -1.5rem auto 0 auto;
          background: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          z-index: 2;

          h3 {
            color: $charcoal;
            font-size: 31px;
            margin: 1.5rem 0 0 0;
            text-align: center;
          }

          span {
            margin: 0 auto 1rem auto;
            text-align: center;
            display: inline-flex;
            color: $highlight;
            font-size: 15px;
            font-weight: 600;

            &::before,
            &::after {
              content: "";
              border-top: solid 2px $highlight;
              display: flex;
              width: 1.25rem;
              height: 1rem;
              height: 0.25rem;
              margin: 0.7rem;
            }
          }
        }

        &:hover {
          text-decoration: none;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

          img {
            opacity: 0.8;

            @include slowfade;
          }
        }
      }
    }
  }

  .container-fluid.social {
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 0;

    ul {
      padding-inline-start: unset !important;
    }
  }
}

/* stylelint-enable no-descending-specificity */
