.pickup-list,
.packing-list,
.baking-list {
  margin: 0;

  &.admin-bar {
    padding-top: 1rem;
  }

  .nav {
    margin: 1rem 1rem 3rem 1rem;
    width: 65%;
  }

  #lists_wrapper {
    width: 100%;
  }

  #lists_filter {
    position: fixed;
    top: 0;
    right: 1rem;
  }

  &.admin-bar #lists_filter {
    top: 3rem;
  }

  .meta {
    text-transform: uppercase;
    text-align: left;
    padding-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;

    &::before {
      font-weight: 900;
      font-size: 11px;
      opacity: 0.4;
    }
  }

  span.notes {
    border-top: dotted 2px #eee;
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    display: inline-flex;
    font-size: 12px;
    font-family: monospace;
  }

  .pa_variety::before {
    content: "Type: ";
  }

  .pa_package-size::before {
    content: "Pkg: ";
  }

  .pa_size::before {
    content: "Size: ";
  }

  .sliced::before {
    content: "Size: ";
  }

  span.qty {
    font-size: 12px;
    font-weight: 700;
    color: #666;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    min-width: 18px;
    height: 19px;
    line-height: 18px;
    margin-right: 5px;
  }

  span.prod_name {
    // min-width: 11rem;
    display: flex;
    font-weight: 700;
    margin: 5px 0;
  }

  table {
    width: 100%;
  }

  thead {
    background: #333;

    th {
      color: #fff;
      padding: 0.5rem 1rem;
    }
  }

  tr {
    border-top: solid 2px #eee;

    td,
    th {
      vertical-align: top;
      padding: 0.25rem 1rem 0.25rem 1rem;

      h5,
      h6,
      p,
      strong {
        margin: 0;
      }

      strong {
        font-size: 18px;
        line-height: 18px;
        display: inline-flex;
      }
    }

    td.phone,
    td.name {
      white-space: pre;
    }

    td.location {
      text-transform: capitalize;
    }

    td.id {
      text-align: center;
    }

    td.notes {
      font-size: 12px;
      line-height: 14px;
      vertical-align: middle;
      font-family: monospace;
    }

    td.details_table {
      vertical-align: middle;

      h6 {
        text-align: center;
        background: #efefef;
        padding: 0.5rem 2rem;
        display: inline-flex;
        border-radius: 18px;
        margin: 1rem 0;
      }

      ._WCPA_order_meta_data {
        display: none;
      }
    }

    &:first-child {
      border: none;
    }

    &.pack td {
      padding: 1rem 0;

      tr td {
        padding: 0;
        vertical-align: middle;
      }
    }

    &.packed,
    &.completed {
      background: #53c999;
      border-top: solid 2px #48bd8e;
      transition: all 0.3s ease-in-out;

      * {
        color: #fff;
      }

      tr {
        border-top: solid 2px #48bd8e;

        &:first-child {
          border: none;
        }
      }

      &.packed h6,
      &.packed span.qty {
        background: #48bd8e;
      }
    }
  }
}
