.pickup-list,
.packing-list,
.baking-list {
  margin: 0;

  &.admin-bar {
    #wpadminbar {
      display: none;
    }
  }

  .ui-datepicker {
    width: auto;
  }

  header.lists-header {
    padding: 0 2rem;
  }

  .wrap {
    padding: 4rem 2rem;
  }

  .nav {
    border: none;
    justify-content: flex-end;

    li {
      border: none;

      a {
        background: $highlight;
        color: #fff;
        border: none;
        border-radius: 0;
        font-weight: 600;

        @include slowfade;

        &.active,
        &:hover {
          background: darken($highlight, 10%);
          color: #fff;

          @include slowfade;
        }
      }
    }
  }

  #lists_wrapper {
    width: 100%;
  }

  h5 {
    border-top: solid 2px $cream;
    padding-top: 0.75rem;

    button {
      font-size: 11px;
      font-weight: 700;
      font-family: $font-family-sans-serif;
      padding: 0 0.25rem;
      margin-top: -15px;
      border: solid 2px $highlight;
      line-height: 14px;
      height: 18px;
      margin-left: 0.25rem;
    }
  }

  #dateSelect {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 4rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  }

  #lists_filter label {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;

    input {
      margin-left: 0.5rem;
    }
  }

  .meta {
    text-transform: capitalize;
    text-align: left;
    padding-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    line-height: 16px;
    margin: 0 0 0.5rem 0;

    &::before {
      font-weight: 900;
      font-size: 11px;
      opacity: 0.4;
      text-transform: uppercase;
      margin-right: 0.5rem;
    }
  }

  span.notes {
    border-top: dotted 2px #eee;
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    display: inline-flex;
    font-size: 12px;
    font-family: monospace;
  }

  .pa_variety::before,
  .variety::before {
    content: "Type: ";
  }

  .pa_package-size::before {
    content: "Pkg: ";
  }

  .pa_size::before {
    content: "Size: ";
  }

  .Sliced::before {
    content: "Note: ";
  }

  span.qty {
    font-size: 14px;
    font-weight: 700;
    color: #42b989;
    display: flex;
    justify-content: center;
    height: 19px;
    line-height: 21px;
  }

  span.prod_name {
    display: flex;
    font-weight: 700;
    line-height: 14px;
    margin: 5px 0;
  }

  table {
    width: 100%;

    h5,
    h6,
    p,
    strong {
      margin: 0;
    }

    strong {
      font-size: 18px;
      line-height: 18px;
      display: inline-flex;
    }
  }

  thead {
    background: darken($highlight, 5%);

    th {
      color: #fff;
      padding: 0.5rem 1rem;

      &.products {
        padding: 0.5rem 0;
      }

      span {
        display: inline-flex;

        &.qty_header {
          width: 9%;
        }

        &.product {
          width: 43%;
        }

        &.details {
          width: 40%;
        }
      }
    }
  }

  tr {
    border-top: solid 2px $cream;

    td {
      vertical-align: top;
      padding: 1rem;

      tr {
        border-top: dashed 2px darken($cream, 5%);

        td {
          padding: 0.45rem 0;
        }

        &:first-child {
          border: none;

          td {
            padding-top: 0;
          }
        }

        &:last-child {
          td {
            padding-bottom: 0;
          }
        }
      }

      &.phone,
      &.name {
        white-space: pre;
      }

      &.location {
        .timeslot {
          text-transform: capitalize;
          font-size: 14px;
          color: $charcoal;
          font-weight: 500;
          background: $cream;
          border-radius: 100%;
          border-radius: 16px;
          text-align: left;
          line-height: 24px;
          padding-left: 1.85rem;
          padding-right: 2rem;
          position: relative;
          display: flex;
          max-width: 105px;

          &.In-store::before {
            content: "";
            width: 15px;
            height: 11px;
            position: absolute;
            left: 9px;
            top: 6px;
            background: url("../images/instore.svg") no-repeat center center;
          }

          &.Curbside::before {
            content: "";
            width: 15px;
            height: 11px;
            position: absolute;
            left: 11px;
            top: 6px;
            background: url("../images/curbside.svg") no-repeat center center;
          }
        }

        .order_location {
          font-size: 10px;
          font-weight: 900;
          color: $highlight;
          border: solid 2px $highlight;
          border-radius: 100%;
          width: 17px;
          height: 17px;
          display: inline-flex;
          justify-content: center;
          margin: 0.5rem 0 0 0.5rem;
          line-height: 13px;
        }
      }

      &.notes {
        font-size: 12px;
        line-height: 14px;
        vertical-align: middle;
        font-family: monospace;
      }

      &.details_table {
        vertical-align: middle;
        padding-left: 0;

        td.qty_cell {
          width: 10%;
        }

        td.prod_name_cell {
          width: 40%;
        }

        td.details_cell {
          width: 50%;
        }

        ._WCPA_order_meta_data {
          display: none;
        }
      }
    }

    &.packed {
      border-top: solid 2px #48bd8e;
      background: $highlight;
      transition: all 0.3s ease-in-out;

      * {
        color: #fff;
      }

      td tr {
        border-top: solid 2px #48bd8e;

        &:first-child {
          border: none;
        }
      }

      &.packed h6,
      &.packed span.qty {
        background: #48bd8e;
      }
    }
  }
}
