/* stylelint-disable no-descending-specificity */
.pickup-list,
.packing-list,
.baking-list,
.inventory-list,
.oos-list,
.grocery-list,
.bread-club-list,
.bread-club-schedule,
.shipping-list,
.store2door-list,
.storetodoor,
.parent-pageid-789 {
  margin: 0;
  width: 100%;
  // padding-top: 3rem;

  &.admin-bar {
    #wpadminbar {
      display: none;
    }
  }

  header.lists-header {
    padding: 0 2rem;
  }

  .wrap {
    padding: 4rem 2rem;
  }

  .nav {
    border: none;
    justify-content: flex-end;

    li {
      border: none;

      a {
        background: $highlight;
        color: #fff;
        border: none;
        border-radius: 0;
        font-weight: 600;

        @include slowfade;

        &.active,
        &:hover {
          background: darken($highlight, 10%);
          color: #fff;

          @include slowfade;
        }
      }
    }
  }

  #lists_wrapper {
    width: 100%;
  }

  h5 {
    border-top: solid 2px $cream;
    padding-top: 0.75rem;

    button {
      font-size: 11px;
      font-weight: 700;
      font-family: $font-family-sans-serif;
      padding: 0 0.25rem;
      margin-top: -15px;
      border: solid 2px $highlight;
      line-height: 14px;
      height: 18px;
      margin-left: 0.25rem;
    }
  }

  #dateSelect {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 4rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  }

  #lists_filter label {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;

    input {
      margin-left: 0.5rem;
    }
  }

  .meta {
    text-transform: capitalize;
    text-align: left;
    padding-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    line-height: 16px;
    margin: 0 0 0.5rem 0;

    &::before {
      font-weight: 900;
      font-size: 11px;
      opacity: 0.4;
      text-transform: uppercase;
      margin-right: 0.5rem;
    }
  }

  span.notes {
    border-top: dotted 2px #eee;
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    display: inline-flex;
    font-size: 12px;
    font-family: monospace;
  }

  .pa_variety::before,
  .variety::before {
    content: "Type: ";
  }

  .pa_package-size::before {
    content: "Pkg: ";
  }

  .pa_size::before {
    content: "Size: ";
  }

  .Sliced::before {
    content: "Note: ";
  }

  span.qty {
    font-size: 14px;
    font-weight: 700;
    color: #42b989;
    display: flex;
    justify-content: center;
    height: 19px;
    line-height: 21px;
  }

  span.prod_name {
    display: flex;
    font-weight: 700;
    line-height: 14px;
    margin: 5px 0;
  }

  table {
    width: 100%;

    h5,
    h6,
    p,
    strong {
      margin: 0;
    }

    strong {
      font-size: 18px;
      line-height: 18px;
      display: inline-flex;
    }
  }

  thead {
    background: darken($highlight, 5%);

    th {
      color: #fff;
      padding: 0.5rem 1rem;

      &.products {
        padding: 0.5rem 0;
      }

      span {
        display: inline-flex;

        &.qty_header {
          width: 9%;
        }

        &.product {
          width: 43%;
        }

        &.details {
          width: 40%;
        }
      }
    }
  }

  tr {
    border-top: solid 2px #d2d2d2;

    &.dtrg-group {
      background: $cream-dark;
    }

    td {
      vertical-align: top;
      padding: 1rem 0.5rem;

      tr {
        border-top: dashed 2px darken($cream, 5%);

        td {
          padding: 0.45rem 0;
        }

        &:first-child {
          border: none;

          td {
            padding-top: 0;
          }
        }

        &:last-child {
          td {
            padding-bottom: 0;
          }
        }
      }

      &.phone,
      &.name {
        white-space: pre;
      }

      span.id {
        color: $highlight;
        font-weight: 900;
      }

      span.breadclubflag {
        display: flex;
        font-size: 0.8rem;
        text-transform: uppercase;
        justify-content: center;
        background: $highlight;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        font-weight: bold;
        color: #fff;
        margin: 0 auto;
        width: 175px;
      }

      &.location {
        .timeslot {
          text-transform: capitalize;
          font-size: 14px;
          color: $charcoal;
          font-weight: 500;
          background: $cream;
          border-radius: 100%;
          border-radius: 16px;
          text-align: left;
          line-height: 24px;
          padding-left: 1.85rem;
          padding-right: 2rem;
          position: relative;
          display: flex;
          width: 95px;
          margin: 0.5rem 0 0 -0.4rem;

          &.In-store::before {
            content: "";
            width: 15px;
            height: 11px;
            position: absolute;
            left: 9px;
            top: 6px;
            background: url("../images/instore.svg") no-repeat center center;
          }

          &.Curbside::before {
            content: "";
            width: 15px;
            height: 11px;
            position: absolute;
            left: 11px;
            top: 6px;
            background: url("../images/curbside.svg") no-repeat center center;
          }
        }

        .order_location {
          font-size: 10px;
          font-weight: 900;
          color: $highlight;
          border: solid 2px $highlight;
          border-radius: 100%;
          width: 17px;
          height: 17px;
          display: inline-flex;
          justify-content: center;
          line-height: 13px;
          margin: 0 4px 0 2px;
          position: relative;
          top: -2px;

          &.cooler {
            color: #48abe6;
            border: solid 2px #48abe6;
          }

          &.shelf {
            color: #e65748;
            border: solid 2px #e65748;
          }

          &.breadclub {
            color: $highlight;
            border: solid 2px $highlight;
          }
        }
      }

      &.notes {
        font-size: 12px;
        line-height: 14px;
        vertical-align: middle;
        font-family: monospace;
      }

      &.details_table {
        vertical-align: middle;
        padding-left: 0;

        td.qty_cell {
          width: 10%;
        }

        td.prod_name_cell {
          width: 40%;
        }

        td.details_cell {
          width: 50%;
        }

        ._WCPA_order_meta_data {
          display: none;
        }
      }
    }

    &.packed {
      border-top: solid 2px #48bd8e;
      background: #e9f7f1;
      transition: all 0.3s ease-in-out;
    }
  }

  tbody tr td span.check {
    content: "";
    display: flex;
    height: 18px;
    width: 18px;
    border: solid 2px darken($color: $highlight, $amount: 10%);
    margin-top: 4px;
  }

  tbody tr.packed td span.check::before {
    content: "";
    display: inline-block;
    transform: rotate(45deg);
    height: 14px;
    width: 8px;
    border-bottom: 3px solid $highlight;
    border-right: 3px solid $highlight;
    position: relative;
    top: -2px;
    left: 4px;
  }

  @media only print {
    #lists_filter {
      display: none;
    }
  }

  .ui-datepicker {
    width: auto;
  }

  .ui-datepicker tr td {
    padding: 1px !important;
  }

  .ui-datepicker th {
    padding: 0.7em 0.3em;
  }

  .ui-datepicker td span,
  .ui-datepicker td a {
    font-size: 16px;
    padding: 0.4rem;
  }

  .mobile-banner button {
    position: fixed;
    top: 0;
  }

  .mobile-banner .navbar-collapse {
    width: 50vw;
    left: unset;
    right: 0;
    position: fixed;

    nav {
      flex-direction: column;
    }

    .nav-mobile a {
      font-size: 1.25rem;
      line-height: 1rem;
    }
  }
}

table.cooler {
  tr.shelf,
  tr.freezer {
    display: none;
  }

  tr.shelf.cooler,
  tr.freezer.cooler,
  tr.shelf.freezer.cooler {
    display: table-row;
  }
}

table.shelf {
  tr.cooler,
  tr.freezer {
    display: none;
  }

  tr.cooler.shelf,
  tr.freezer.shelf,
  tr.cooler.freezer.shelf {
    display: table-row;
  }
}

table.freezer {
  tr.cooler,
  tr.shelf {
    display: none;
  }

  tr.cooler.freezer,
  tr.shelf.freezer,
  tr.cooler.shelf.freezer {
    display: table-row;
  }
}

span.stock {
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: #fff;

  &.instock {
    background-color: $highlight;
  }

  &.outofstock {
    background-color: $danger;
  }
}

.grocery-list {
  tr {
    border-top: solid 2px $cream-dark;
  }

  td.notes {
    width: 40%;

    span {
      color: #ccc;
    }
  }

  .categories {
    font-size: 0.85rem;
  }
}

.bread-club-list,
.bread-club-schedule {
  tr th {
    padding: 1.25rem 0.5rem;
    vertical-align: top;
  }

  tbody tr th {
    text-align: center;
  }

  td {
    position: relative;
  }

  td ul {
    padding-left: 0;
    list-style-type: none;
    list-style-position: inside;
  }

  td li {
    line-height: normal;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    display: flex;

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      background-color: #d9d6c7;
      margin: auto 7px auto 0;
      border-radius: 2px;
    }
  }

  span.date {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: -0.5rem;
    display: flex;
    justify-content: center;
  }

  .totals {
    border: solid 2px $highlight;
    margin-left: auto;
  }

  .dataTables_filter {
    display: inline-flex;
    margin: 0 0 0 2rem;
    top: -1rem;
    position: relative;
  }
}

.storetodoor {
  .dataTables_filter {
    display: inline-flex;
    margin: 0 0 0 2rem;
    top: -1rem;
    position: relative;
  }
}

/* stylelint-enable no-descending-specificity */
