.contact,
.faq {
  #map {
    width: 100%;
    height: 450px;
  }

  .wrap {
    padding-top: 6rem;
  }

  .contact-content {
    padding-top: 2rem;
    padding-bottom: 2rem;

    hr {
      margin: 2rem 0;
    }

    a.btn {
      margin-top: 1rem;
      display: inline-flex;
    }
  }
}
