/* stylelint-disable no-descending-specificity */
//Quick View styles
.quickview-open {
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    overflow: auto;
  }
}

.pp_overlay {
  background: rgba(255, 255, 255, 0.6) !important;
}

div.pp_woocommerce_quick_view {
  top: 0 !important;
  left: unset !important;
  right: 0 !important;
  width: 60vw !important;
  height: 100vh !important;
  max-width: 900px !important;
  display: flex !important;
  position: fixed !important;
  border-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;

  div.quick-view {
    padding-bottom: 2rem;
  }

  .ppt {
    display: none !important;
  }

  @include media-breakpoint-down(md) {
    width: 90vw !important;
    max-width: 90vw !important;
  }

  @include media-breakpoint-down(xs) {
    width: 100% !important;
    left: unset !important;
    right: 0 !important;
    max-width: 100% !important;
  }

  .woocommerce-product-gallery,
  .flex-viewport {
    width: 100%;
    // height: auto !important;
  }

  .yith-wcqv-main {
    box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.22);
    padding-bottom: 4rem;
  }

  .pp_content_container {
    overflow-y: scroll;
    padding: 2rem;
    border-radius: 0;

    @include media-breakpoint-down(sm) {
      padding: 0;

      .pp_left,
      .pp_right {
        padding: 0 !important;
      }
    }

    .pp_content {
      width: auto !important;
      height: auto !important;
      overflow: hidden;
    }

    .product {
      display: grid;
      column-gap: 7%;
      grid-template-columns: 32% 61%;
      grid-template-rows: auto;

      @include media-breakpoint-down(sm) {
        // row-gap: 1.5rem; apparently not supported?
        display: flex;
        flex-direction: column;
      }
    }

    .woocommerce-product-gallery {
      width: 100%;
      grid-column: 1 / span 2;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0 !important;
      }
    }
  }
}

.sidebar a.showmore {
  width: 100%;
  border-top: solid 2px #ebe9e0;
  padding: 1.25rem 0 1rem 0;
  display: flex;
  font-weight: 500;
  text-decoration: underline;

  @include slowfade();

  &::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    position: relative;
    top: 0.5rem;
    left: 0.3rem;
    border-top: 2px solid $highlight;
    border-right: 2px solid $highlight;
    transform: rotate(135deg);

    @include slowfade();
  }

  &.collapsed::after {
    transform: rotate(45deg);

    @include slowfade();
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.sidebar .card {
  border-radius: 0;
  border: none;
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  margin: 0 0 1rem 0;
  font-size: 14px;
  padding: 0;
}

.single-product,
.pp_woocommerce_quick_view {
  .sidebar {
    margin: 0 1rem;
  }

  .sidebar ul {
    border-top: solid 2px #ebe9e0;
    padding: 1.25rem 0 0 0;
    font-weight: 600;
    font-size: 15.5px;

    @include media-breakpoint-down(xs) {
      font-size: 14px;
      border-top: none;
      border-bottom: solid 2px #ebe9e0;
    }

    span {
      font-weight: normal;
    }
  }

  .sidebar ul li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.75rem;
    line-height: 19px;
    list-style-type: none;

    @include media-breakpoint-down(xs) {
      font-size: 14px;
    }

    &::before {
      color: $highlight;
      content: "\2022";
      font-size: 25px;
      position: absolute;
      left: 0;
      top: 0;
      line-height: 17px;
    }
  }

  .sidebar .notice {
    background: $highlight;
    padding: 1rem;
    color: #fff;
    margin-top: 2rem;
  }

  h1 {
    position: relative;
    background: #f8f7f2;
    color: #383838;
    font-size: 44px;
    line-height: 46px;
    text-transform: none;
    text-align: center;
    padding: 2rem 4rem !important;
    margin: -6rem auto 0 auto !important;
    max-width: 88%;
    grid-column: 1 / span 2;

    @include media-breakpoint-down(sm) {
      font-size: 34px;
      max-width: 80%;
      line-height: 36px;
      padding: 1.25rem !important;
    }

    @include media-breakpoint-down(sm) {
      margin: -3rem auto 0 auto !important;
    }
  }

  div.product p.price,
  div.product span.price {
    @include media-breakpoint-down(sm) {
      font-size: 1.75rem;
      position: fixed;
      bottom: 0.5rem;
      z-index: 9;
      left: 1rem;
      color: $highlight;
    }
  }

  div.product .woocommerce-variation-price span.price {
    bottom: 1.5rem;
  }

  div.product div.summary {
    width: 100% !important;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0;
    position: relative;

    @include media-breakpoint-down(sm) {
      padding: 0 2.75rem;
      margin-bottom: 7.5rem;
      margin-top: 1.5rem;

      .woocommerce-product-details__short-description {
        p {
          font-size: 16px;
          line-height: 27px;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      font-size: 14px;
    }
  }

  div.product.product-type-variable div.summary {
    @include media-breakpoint-down(sm) {
      margin-bottom: 12rem;
    }
  }

  div.product form.cart {
    @include media-breakpoint-down(sm) {
      display: flex !important;
      justify-content: flex-end;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      padding: 1rem;
      margin: 0;
      background: #fff;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.16), 0 -35px 40px 0 rgb(255, 255, 255);
    }
  }

  div.product .variations_form {
    @include media-breakpoint-down(sm) {
      flex-direction: column;

      .single_variation_wrap {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .woocommerce-variation-description p,
  .collapse,
  .collapsing {
    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 100%;
      background: $highlight;
      color: #fff;
      padding: 1rem;
      left: 0;
      margin: 1rem 5%;
      width: 90%;
      box-shadow: 0 1px 20px #cecece;

      &::after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-top-color: $highlight;
        border-width: 8px;
        margin-left: -8px;
      }
    }
  }

  .extra-info .collapse,
  .extra-info .collapsing {
    bottom: 90%;

    &::after {
      left: 2rem;
    }
  }

  .single-product div.product.wcpa_has_options form.cart {
    .assorted-selection_parent,
    .assorted-selection-clear {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 3.5rem;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.16), 0 -35px 40px 0 rgb(255, 255, 255);
      display: flex !important;

      .assorted-selection_parent,
      .assorted-selection-clear {
        display: block;
      }

      .wcpa_form_item,
      .wcpa_form_outer {
        margin: 0;
      }

      .wcpa_form_outer {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5rem 1rem;
        background: $cream;

        .wcpa_form_item .wcpa_checkbox label {
          margin-bottom: 0;
        }
      }

      .variations {
        margin-bottom: 0;
      }

      div.assorted-section_parent {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 13rem;
        width: 100%;
        padding: 1.5rem 2rem;
        background: $cream;
        opacity: 0;
        box-shadow: inset 0 -8px 15px -8px rgba($color: #000, $alpha: 0.2);

        @include slowfade;

        &.show-assorted {
          display: block;
          top: -13rem;
          opacity: 1;

          @include slowfade;
        }

        .wcpa_helptext {
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 0.5rem;
          display: inline-block;
        }

        span.assorted-selection-clear {
          display: inline-flex;
          font-weight: 600;
          padding: 0.25rem 0.5rem;
          background: $highlight;
          width: auto;
          color: #fff;
          margin: 0.5rem 0 0 auto;
          cursor: pointer;
        }
      }
    }
  }

  div.product form.cart .variations td {
    line-height: 1.25rem;
  }

  div.product form.cart .variations select {
    width: 100%;
  }

  .woocommerce-variation-availability {
    @include media-breakpoint-down(sm) {
      position: fixed;
      bottom: 1rem;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 9;

      .out-of-stock {
        margin: 0;
        padding: 0.5rem 1rem;
        background: red;
        color: #fff !important;
        z-index: 9999;
        font-weight: 700;
      }
    }
  }
}

.availability-mobile {
  width: 80%;
  margin: 0 auto;
  border: solid 3px $highlight;
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-top: 1.5rem;

  strong {
    color: $highlight;
    text-transform: uppercase;
    border-right: solid 2px $highlight;
    display: inline-flex;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-right: 0.5rem;
    font-weight: 900;
  }

  span {
    line-height: 1.4;
    padding: 0.5rem 0;
    color: #575757;

    .long_fermentation {
      color: $highlight;
      flex-wrap: wrap;
      width: 100%;
      display: flex;
      font-size: 11px;
      padding: 0;
    }
  }
}

.restricted {
  width: 80%;
  margin: 0 auto;
  background: $highlight;
  font-size: 12px;
  align-items: center;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  color: #fff;
  line-height: 1.4;
  text-align: center;
}

.extra-info {
  @include media-breakpoint-down(sm) {
    position: relative;

    a.showmore {
      padding: 0.5rem 1rem 0.5rem 1.75rem;
      border-radius: 4px;
      margin: 1rem 0;
      display: inline-flex;
      font-weight: 600;
      background: url(../images/eye.svg) no-repeat 0.5rem center;
      background-color: #f8f7f2;
    }
  }
}

.bulk-discount {
  margin-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.product_meta {
  @include media-breakpoint-down(sm) {
    ul {
      margin: 1.5rem 0 0 0;
      padding: 0;
      list-style: none;
      border-top: solid 2px $highlight;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      grid-auto-flow: row;

      :first-child,
      :nth-child(2) {
        margin-top: 1rem;
      }

      li {
        font-weight: 600;
        font-size: 13px;
        display: flex;
        color: #575757;

        &::before {
          content: "";
          width: 30px;
          height: 19px;
          background: url(../images/check.svg) no-repeat center center;
        }
      }
    }

    .bulk-discount {
      font-weight: 600;
      font-size: 13px;
      display: flex;
      margin: 1rem 0 0 0;

      &::before {
        content: "";
        width: 30px;
        height: 20px;
        background: url(../images/exclaim.svg) no-repeat center center;
      }
    }
  }
}

.single_variation_wrap .woocommerce-variation-add-to-cart .single_variation_wrap .single_variation .woocommerce-variation-price {
  display: none;
}

form.cart button.single_add_to_cart_button,
form.cart .variations_button button.single_add_to_cart_button,
form.cart .qib-container + button[type="submit"]:not(#qib_id):not(#qib_id) {
  @include media-breakpoint-down(xs) {
    margin-left: 0.5rem !important;
  }
}

.woocommerce-product-gallery {
  width: 100%;
  grid-column: 1 / span 2;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    border: solid 2px #fff;

    @include media-breakpoint-down(sm) {
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      margin: 5px;
    }
  }
}

.pp_close {
  display: none !important;
}

.close-product {
  position: fixed;
  display: none;
  z-index: 999999999999999999;
  top: 1.5rem;
  right: 0;
  width: 62vw;
  max-width: 925px;
  height: 58px;
  border-radius: 2rem;
  text-indent: -99999px;

  @include media-breakpoint-down(sm) {
    top: 1rem;
  }

  &::before {
    background: url(../images/Arrow.svg) no-repeat center center;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    content: "";
    background-color: #fff;
    border-radius: 100%;

    @include media-breakpoint-down(sm) {
      // background-size: 14px 7px;
      background: url(../images/arrow-sm.svg) no-repeat center center;
      width: 42px;
      height: 42px;
      background-color: #fff;
    }

    @include media-breakpoint-down(xs) {
      // background-size: 14px 7px;
      border-radius: 0 100% 100% 0;
    }
  }

  @include media-breakpoint-down(md) {
    width: 92vw !important;
    max-width: 92vw !important;
  }

  @include media-breakpoint-down(xs) {
    width: 100vw !important;
    max-width: 100vw !important;
  }
}

.woocommerce .product .points {
  display: none;
}

.quickview-open .close-product {
  display: block;
}
/* stylelint-enable no-descending-specificity */
