/* stylelint-disable no-descending-specificity */
.woocommerce {
  .wrap {
    padding: 3rem 10%;

    @include media-breakpoint-down(lg) {
      padding: 3rem 2%;
    }
  }

  ul.products {
    li.product {
      display: flex;
      justify-content: center;
      height: 345px;
      align-items: center;
      overflow: hidden;
      background: #343534;

      @include slowfade;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        margin: 10px 0 0 10px;
        border: solid 2px #fff;
      }

      img.attachment-woocommerce_thumbnail {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
        opacity: 1;
      }

      h2.woocommerce-loop-product__title {
        display: inline-flex;
        position: absolute;
        bottom: 2.5rem;
        background: #343534;
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
        color: #fff;
        padding: 1rem 1.25rem;
        text-align: center;
        max-width: 80%;
      }

      .inside-thumb.quick-view-button {
        display: flex;
        position: absolute;
        bottom: 2rem;
        top: unset !important;
        right: unset !important;
        padding: 0.75rem 1.5rem;
        border: solid 2px $highlight;
        margin: 0;
        border-radius: 0;
        background: none;
        color: $highlight;
        opacity: 0;
        z-index: 20;
        width: auto;

        span {
          color: $highlight !important;
          font-size: 18px;
          font-weight: normal;
          text-transform: none;
          line-height: 18px;
          padding: 0;
          width: auto;
          margin: 0;
          display: inline-flex;
          height: auto;
          background: none;
          position: relative;
          border-radius: none;
          transform: none;

          &::before,
          &::after {
            content: none;
          }
        }
      }

      &:hover {
        h2 {
          bottom: 70%;
          background: none;

          @include slowfade(0.3);
        }

        img {
          opacity: 0.2;

          @include slowfade;
        }

        .inside-thumb.quick-view-button.manual {
          opacity: 1;

          @include slowfade;
        }
      }

      @include slowfade(0.2);
    }
  }

  //Quick View styles
  .pp_overlay {
    background: rgba(255, 255, 255, 0.6);
  }

  .pp_woocommerce_quick_view {
    top: 0 !important;
    left: unset !important;
    right: 0 !important;
    width: 60vw !important;
    height: 100vh !important;
    max-width: 900px !important;
    display: flex;
    position: fixed;
    border-radius: 0;

    div.quick-view {
      padding-bottom: 2rem;
    }

    .ppt {
      display: none !important;
    }

    @include media-breakpoint-down(md) {
      width: 90vw !important;
      max-width: 90vw !important;
    }

    .woocommerce-product-gallery,
    .flex-viewport {
      width: 100%;
    }

    .yith-wcqv-main {
      box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.22);
      padding-bottom: 4rem;
    }

    .pp_content_container {
      overflow-y: scroll;
      padding: 2rem;
      border-radius: 0;

      @include media-breakpoint-down(sm) {
        padding: 0.75rem;
      }

      .pp_content {
        width: auto !important;
        overflow: hidden;
      }

      .product {
        display: grid;
        column-gap: 7%;
        grid-template-columns: 32% 61%;
        grid-template-rows: auto;
        row-gap: 2rem;
      }

      .woocommerce-product-gallery {
        width: 100%;
        grid-column: 1 / span 2;
      }
    }
  }
}

.single-product,
.pp_woocommerce_quick_view {
  .sidebar ul,
  .ingredients {
    border-top: solid 2px #ebe9e0;
    padding: 1.25rem 0 0 0;
    font-weight: 600;
    font-size: 15.5px;

    span {
      font-weight: normal;
    }
  }

  .sidebar ul li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.75rem;
    line-height: 19px;
    list-style-type: none;

    &::before {
      color: $highlight;
      content: "\2022";
      font-size: 25px;
      position: absolute;
      left: 0;
      top: 0;
      line-height: 17px;
    }
  }

  h1 {
    position: relative;
    background: #f8f7f2;
    color: #383838;
    font-size: 44px;
    line-height: 46px;
    text-transform: none;
    text-align: center;
    padding: 2rem 4rem !important;
    margin: -6rem auto 0 auto !important;
    max-width: 88%;
    grid-column: 1 / span 2;

    @include media-breakpoint-down(sm) {
      font-size: 34px;
      max-width: 80%;
      line-height: 36px;
      padding: 1.5rem 1.5rem;
    }
  }

  div.summary {
    width: 100% !important;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0;
    position: relative;
  }
}

.woocommerce-product-gallery {
  width: 100%;
  grid-column: 1 / span 2;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    border: solid 2px #fff;
  }
}

.close-product {
  position: fixed;
  display: none;
  z-index: 999999999999999999;
  top: 1.5rem;
  right: 0;
  width: 62vw;
  max-width: 925px;
  height: 58px;
  border-radius: 2rem;
  text-indent: -99999px;

  &::before {
    background: url(../images/Arrow.svg) no-repeat center center;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    content: "";
    background-color: #fff;
    border-radius: 100%;
  }

  @include media-breakpoint-down(md) {
    width: 92vw !important;
    max-width: 92vw !important;
  }
}

.modal-open .close-product {
  display: block;
}

.woocommerce .quantity .qty,
.acf-field input[type="text"] {
  padding: 0.4rem;
  border: solid 3px #f8f7f2;
  margin-right: 0.75rem;
}

.qib-container,
.woocommerce-page table.cart td.actions .input-text {
  border: solid 3px #f8f7f2 !important;
  width: auto !important;
}

.qib-button:not(#qib_id):not(#qib_id) {
  background: #f8f7f2 !important;
  color: #707070 !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  padding: 0 0 4px 0 !important;
  border: none !important;
  height: 45px !important;
}

.qib-button:hover:not(#qib_id):not(#qib_id) {
  background: #f0ede1 !important;
}

.qib-container .quantity input.qty:not(#qib_id):not(#qib_id) {
  border: none !important;
  font-weight: 600 !important;
  height: 45px !important;
}

.woocommerce table.cart td.product-quantity .qib-container:not(#qib_id):not(#qib_id) {
  display: inline-flex !important;
}

.wcpa_form_item {
  label {
    display: none;
  }

  div.sliced label {
    display: inline-block;
  }
}

.warning {
  font-size: 13px;
  line-height: 16px;
  color: $highlight;
  font-weight: 600;
  padding: 1rem 3rem;
  background: #fff;
  box-shadow: 0 0 25px -2px rgba(0, 0, 0, 0.1);
  background-color: r;
  width: 90%;
  text-align: center;
}

.acf-form {
  display: flex;
  align-items: center;

  .acf-field {
    display: flex;
    flex-direction: row;
  }

  .acf-field input[type="text"] {
    height: 50px;
    font-size: 18px;
  }

  .acf-label {
    margin: 0;
  }

  .acf-field .acf-label label {
    margin: 0 1rem 0 0;
    height: 50px;
    line-height: 50px;
  }
}

.shop_table {
  td {
    padding: 22px 12px !important;
  }

  td.product-name a {
    font-size: 20px;
  }

  .availability {
    font-size: 15px;
    display: block;
  }

  .not-available {
    .not-available-message {
      color: red;
      font-size: 13px;
      line-height: 15px;
      border: solid 2px red;
      padding: 0.25rem 0.5rem;
      margin: 0.25rem 0 0 0;
      width: 94%;
      display: flex;
    }
  }

  td.actions .coupon .input-text {
    height: 50px;
  }
}

/* stylelint-enable no-descending-specificity */
