.woocommerce {
  .wrap {
    padding: 3rem 0 0 0;
  }

  li.product {
    display: flex;
    justify-content: center;

    a.woocommerce-loop-product__link {
      width: 100%;
      height: 345px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: #343534;

      @include slowfade;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        margin: 10px 0 0 10px;
        border: solid 2px #fff;
      }

      img.attachment-woocommerce_thumbnail {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
        opacity: 1;
      }

      .price {
        display: none;
      }

      h2.woocommerce-loop-product__title {
        position: absolute;
        bottom: 2.5rem;
        background: #343534;
        font-size: 20px;
        line-height: 21px;
        color: #fff;
        padding: 1rem 1.5rem;
      }

      &:hover {
        h2 {
          bottom: 70%;
          background: none;

          @include slowfade(0.3);
        }

        img {
          opacity: 0.2;

          @include slowfade;
        }
      }
    }

    a.button {
      display: none;
    }

    .inside-thumb {
      display: flex;
      position: absolute;
      bottom: 2rem;
      top: unset !important;
      right: unset !important;
      padding: 0.75rem 1.5rem;
      border: solid 2px $highlight;
      margin: 0;
      border-radius: 0;
      background: none;
      color: #53c999;
      opacity: 0;
      z-index: 20;
      width: auto;

      span,
      span:focus {
        color: #53c999 !important;
        font-size: 18px;
        font-weight: normal;
        text-transform: none;
        line-height: 18px;
        padding: 0;
        width: auto;
      }

      &:hover {
        span,
        span:focus {
          background: none !important;
        }
      }

      @include slowfade(0.2);
    }
  }

  //Quick View styles
  .yith-quick-view.yith-modal {
    .yith-wcqv-wrapper {
      top: 0 !important;
      left: 40% !important;
      width: 60vw !important;
      height: 100vh !important;

      @include media-breakpoint-down(sm) {
        width: 90vw !important;
      }
    }

    .yith-quick-view-overlay {
      background: rgba(255, 255, 255, 0.6);
    }

    .yith-wcqv-head {
      top: 1.5rem;
      right: unset;
      left: -1.75rem;
      background: #fff;
      border-radius: 2rem;
      padding: 1.25rem;
    }

    .yith-wcqv-main {
      box-shadow: 0 0 41px 0 rgba(0, 0, 0, 0.22);
      padding-bottom: 4rem;
    }

    .yith-quick-view-content {
      overflow-y: scroll;
      padding: 4rem;

      @include media-breakpoint-down(sm) {
        padding: 0.75rem;
      }

      div.summary {
        width: 100% !important;
        display: inline-flex;
        margin-top: -3rem;

        .summary-content {
          display: inline-flex;
          justify-content: center;
          flex-direction: column;
          width: 100%;

          h1 {
            background: #f8f7f2;
            color: #383838;
            display: inline-flex;
            font-size: 44px;
            line-height: 46px;
            text-transform: none;
            text-align: center;
            align-self: center;
            padding: 2rem 4rem;
          }
        }
      }
    }

    .yith-quick-view-content div.images {
      width: 100% !important;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        margin: 10px;
        border: solid 2px #fff;
      }
    }
  }

  // Sidebar Filter
  .wpf_item {
    &::after {
      content: "...................................";
      letter-spacing: 4px;
      line-height: 3px;
      font-size: 18px;
      color: $highlight;
      margin: 1.5rem auto 0 auto;
      overflow: hidden;
    }
  }

  .wpf_item_wpf_cat label.wpf_item_name {
    display: none; //hide title from only category section
  }

  .wpf_item_count {
    color: #53c999;
    font-family: $font-family-serif;
    font-size: 15px;
    background: none;
    padding: 0.25rem 0 0 0.25rem;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  .wpf_item_name {
    font-family: $font-family-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 0.5rem 0;
    border: none;
  }

  ul.wpf_hierachy {
    display: flex;
    flex-direction: column;

    input {
      display: none;
    }

    label {
      font-family: $font-family-serif;
      font-size: 22px;
      font-weight: bold;

      &::after {
        content: ":";
      }
    }

    .wpf_item_count {
      display: none;
    }

    li {
      border-bottom: solid 2px #ebe9e0;
      padding-bottom: 25px;
      margin-bottom: 25px;

      &:last-of-type {
        border: none;
        padding-bottom: 0;
        margin-bottom: 1rem;
      }

      ul.wpf_submenu li {
        border: none;
        margin-bottom: 0.55rem;
        padding-bottom: 0;
        margin-right: 0;
      }
    }
  }

  ul.wpf_submenu,
  ul.wpf_column_vertical {
    border: none;
    display: flex;
    flex-direction: column;

    input {
      display: inline-flex;
      border: 2px solid #53c999;
      width: 15px;
      height: 15px;
      margin-top: 3px;
    }

    input[type="checkbox"]:checked::before {
      content: "";
      width: 7px;
      height: 7px;
      background: #53c999;
      left: 2px;
      top: 2px;
      position: relative;
    }

    label {
      font-family: $font-family-sans-serif;
      font-size: 18px;
      font-weight: normal;
      margin: 0;

      &::after {
        content: none;
      }
    }

    .wpf_item_count {
      display: inline-flex;
    }
  }

  //Filtered results
  .wpf-search-container section div {
    width: 100%;
  }
}
