.single-product {
  .product {
    display: grid;
    column-gap: 7%;
    grid-template-columns: 32% 61%;
    grid-template-rows: auto;
    row-gap: 2rem;

    .component_content .product,
    div.product.bundled_product_summary {
      display: flex;
      flex-direction: column;
    }

    @include media-breakpoint-down(sm) {
      row-gap: 0;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }

    @include media-breakpoint-down(md) {
      width: 90vw !important;
      max-width: 90vw !important;
    }

    @include media-breakpoint-down(sm) {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  div.product div.images {
    width: 100%;
    float: unset;
  }

  .related {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / span 2;
  }

  footer,
  div.copyright {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    @include media-breakpoint-down(sm) {
      bottom: 9.5rem;
    }
  }

  .wrap {
    @include media-breakpoint-down(sm) {
      padding-top: 0 !important;
    }
  }

  .images {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0 !important;
    }
  }
}

.product-template-default .copyright,
.product-template-default footer {
  display: none;
}

//Bundled Product styles
.single-product .product div.product.bundled_product_summary {
  margin: 0;
  padding: 0;
}

.bundle_form .bundle_data {
  margin-top: 2rem;
}

.bundle_price,
.bundle_wrap,
.single_variation_wrap.bundled_item_wrap,
.bundled_item_wrap .bundled_item_cart_content {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

div.bundled_product_summary {
  margin: 0;
  padding: 0;
}

.bundled_product_summary .bundled_product_title .bundled_product_title_link {
  display: none;
}

.bundle_form .bundle_price p.price,
.single-product .bundle_form .bundle_price p.price,
.bundled_product .price,
.bundle_wrap .price {
  margin: 0 1rem 0 0 !important;
  min-width: 65px !important;
}

.bundled_product .details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  h4 {
    width: 100%;
  }

  .variations_form {
    width: 100%;
  }
}

label.bundled_product_optional_checkbox {
  height: 49px;
  line-height: 49px !important;
}

.bundled_product {
  .qib-container .quantity input.qty:not(#qib_id):not(#qib_id),
  .qib-button:not(#qib_id):not(#qib_id) {
    height: 35px !important;
  }
}
